:global {
    [data-rmiz-wrap='visible'],
    [data-rmiz-wrap='hidden'] {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
.containerBig{
position: relative;
}
.darkSquare{
    position: absolute;
    width: 10rem;
    height: 5rem;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--bg);
    transition: background-color 0.8s ease-out,
}
.arrows_container{
    width: 100vw;
    top: 0;
    height: auto;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.arrow{
   font-size: 20px;
   background-color: var(--bg);
   padding: 20% 1%;
   transition: background-color 0.8s ease-out,
}
.arrow:hover{
    background-color: var(--bg-arrow);
}

.uv_label{
    color: var(--textNormal);
    z-index: 999;     
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 5rem;
        filter: var(--filterImg);
    }
}

.container{
    position: relative;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    z-index: 99;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    padding-top: 3rem;
    height: 90vh;
}

.img{
    width:30vw;
    max-height: auto;
    margin-bottom: 4rem;
}

.description{
    width: 25vw;
    margin: 0 2rem;
    color: var(--textNormal);
}

.link{
    margin: 2rem;
    color: var(--textImportant);
    padding: 0;
    padding-bottom: 3px;
    border-bottom: 1.5px solid var(--textImportant) !important;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.link:hover{
    font-weight: bold;
    transform: scale(1.05);
    border-bottom: 2px solid var(--textImportant) !important;
}
.templateToggle{
    margin: 2rem;
    width: 100%;
}
.detail_info{
    padding-bottom: 2rem;
}

@media (max-width: 600px) {
    .container{
        flex-direction: column;
        width: 90vw;
        height: auto;
        padding: 0;
    }
    .arrows_container{
        width: 100%;
        height: auto;
        position: unset;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    
    .arrow{
        margin: 0;
        padding: 0;
        padding-top: 1rem;
       background-color: transparent;
    }
    .img{
        width:90vw;
        height: auto;
    }
    .description{
        width: 80vw;
        margin: 5vw 0;
        margin-top: -17vw;
        color: var(--textNormal);
    }
    .link{
        margin: 0;
    }
    .darkSquare{
        z-index: 99;
        background-color: transparent;
    }
}