:global {
    [data-rmiz-wrap='visible'],
    [data-rmiz-wrap='hidden'] {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

.arrows_container{
    width: 100vw;
    top: 0;
    height: auto;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.arrow{
   font-size: 20px;
   background-color: var(--bg);
   padding: 20% 1%;
}
.arrow:hover{
    background-color: var(--bg-arrow);
}

.container{
    position: relative;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    z-index: 99;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    padding-top: 3rem;
    height: 90vh;
}

.img{
    width:30vw;
    max-height: auto;
    margin-bottom: 4rem;
}

.description{
    width: 25vw;
    margin: 0 2rem;
    color: var(--textNormal);
}

.link{
    margin: 2rem;
    color: var(--textImportant);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--textImportant);
}

.link:hover{
    font-weight: bold;
    border-bottom: 2px solid var(--textImportant);
}

.detail_info{
    padding-bottom: 2rem;
}

@media (max-width: 600px) {
    .container{
        display: block;
        width: 90vw;
        height: auto;
        padding: 0;
    }
    .arrows_container{
        top: 30%;
    }
    .img{
        width:90vw;
        height: auto;
    }
    .description{
        width: 80vw;
        margin: 5vw 0;
        color: var(--textNormal);
    }
    .link{
        margin: 0;
    }
}