:global {
    [data-rmiz-wrap='visible'],
    [data-rmiz-wrap='hidden'] {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

.container{
    padding: 3rem 0;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img{
    width:30vw;
    max-height: 70vh;
}

.description{
    width: 30vw;
    margin: 2rem;
    color: var(--textNormal);
}

.link{
    margin: 2rem;
    color: var(--textImportant);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--textImportant);
}

.link:hover{
    font-weight: bold;
    border-bottom: 2px solid var(--textImportant);
}

.detail_info{
    padding: 1rem;
    padding-bottom: 2rem;
}

@media (max-width: 600px) {
    .container{
        display: block;
        width: 90vw;
        padding: 0;
    }
    .img{
        width:90vw;
        height: auto;
    }
    .description{
        width: 80vw;
        margin: 5vw 0;
        color: var(--textNormal);
    }
    .link{
        margin: 0;
    }
}