.container{
    padding: 5rem 0;
    width: 70vw;
    margin: 0 auto;
    h1, p{
    color: var(--textNormal);
    }
    button{
        color: var(--textImportant);
        text-decoration: underline;
        padding: 0;
        cursor: pointer;
        margin: 0;
        &:hover{
            font-weight: bolder;
        }
    }
}

@media (max-width:450px){
    .container{
        padding-top: 2rem;
    }
}