/* email */
.contact{
    width: 70vw;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}
.email_container{
    position: absolute;
    right: 0;
    top: 30vh;
    width: 50vw;
    max-width: 700px;
    text-align: right;
    h2{
        color: var(--textTitle);
        font-size: 42px;
    }
    p{
        color: var(--textNormal);
        font-size: 22px;
        line-height: 32px;
    }
    a{
        color: var(--textImportant);
        border-bottom: 2px solid var(--btn);
    }
    a:hover{
        color: var(--btn);  
    }
   }

   @media (max-width: 700px) {
    .contact{
        width: 90vw;
        margin: 0 auto;
        position: inherit;
        height: 100vh;
    }
   .email_container{
    position: absolute;
    left: 5vw;
    top: 40vh;
    width: 90vw;
    max-width: 700px;
    text-align: left;
    h2{
        color: var(--textTitle);
        font-size: 28px;
    }
    p{
        color: var(--textNormal);
        font-size: 18px;
        line-height: 28px;
    }
    a{
        color: var(--textImportant);
        border-bottom: 2px solid var(--btn);
    }
    a:hover{
        color: var(--btn);  
    }
   }  
 }