@import './variables';
@import './mixins';

.gallery_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide {
    display: none !important;
}

.tabs {
    display: flex;
    margin: 0 auto;
    padding: 1rem 0;
    color: var(--btn);
    
    .tab {
        cursor: pointer;
        margin: 0 20px;
        .tabTitle {
            font-size: 18px;
            font-weight: normal;
            @include mobile {
                font-size: 14px;
            }
        }
        .tabTitle:hover {
            color: var(--btn-hover);
            border-bottom: 2px solid var(--btn-hover)
        }
        .selected {
            font-weight: bold;
            color: var(--active-btn);
            border-bottom: 2px solid var(--active-btn);
        }
    }
}

.shadow{
    transition: all .6s ease-in-out;
}

.shadow:hover{
    transform: scale(1.02);
    box-shadow: 0px 6px 25px 10px #696969c7;
    -webkit-box-shadow: 0px 6px 25px 10px #696969c7;
    -moz-box-shadow: 0px 6px 25px 10px #696969c7;
}

.my_masonry_grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: 98vw;
    // img {
    //     -webkit-transition: all 0.75s ease-out;
    //     -moz-transition: all 0.75s ease-out;
    //     transition: all 0.75s ease-out;
    // }
    img:hover {
        cursor: pointer;
        // transform: scale(1.5);
    }
}
.my_masonry_grid_column {
padding-left: 30px; /* gutter size */
background-clip: padding-box;
}

/* Style your items */
.my_masonry_grid_column > div { /* change div to reference your elements you put in <Masonry> */
background: grey;
margin-bottom: 30px;
}

.img {
    max-height: 90vh;
    width: 100%;
}

.dialog{
    width: 100vw !important;
    height: auto !important;
    margin: 0;
    background-color: rgba(255, 255, 255, .8);
}

@media (max-width: 700px) {
    .tabs {
        font-size: 16px;
    }
}