@import './variables';

body {
    --bg:  whitesmoke;
    --bg-arrow: rgb(233, 233, 233);
    --bg-header: whitesmoke;
    --bg-footer: rgb(240, 240, 240);
    --bg-container:whitesmoke;
    --bg-input:whitesmoke;
    --bg-btn-hover:rgb(41, 41, 41);
    --color-btn-hover:whitesmoke;

    --switcher:whitesmoke;
    --switcher-track:rgb(41, 41, 41);
    
    --textNormal: #6D6D6D;
    --textImportant:black;
    --textTitle: rgb(70, 70, 70);
   
    --btn: #FF6506;
    --btn-hover:whitesmoke;
    --active-btn:black;

    --spinner:rgb(41, 41, 41);

    background-color: var(--bg);

    --filterImg:invert(10%);
    --filterWhite: invert(97%);
    --filterBlack: invert(30%);
    --filterVideo:grayscale(0%);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: rgb(41, 41, 41);
    --bg-arrow: rgb(51, 51, 51);
    --bg-header:  rgba(41, 41, 41, .9);
    --bg-footer: rgb(61, 61, 61);
    --bg-container:rgb(61, 61, 61);
    --bg-input:rgb(93, 93, 93);
    --bg-btn-hover:rgb(245, 245, 245);
    --color-btn-hover:rgb(93, 93, 93);

    --switcher:#A966DA;
    --switcher-track:#A966DAb9;

    --textNormal: rgb(221, 221, 221);
    --textImportant:white;
    --textTitle: rgb(165, 165, 165);

    --btn:#A966DA; 
    --btn-hover:whitesmoke;
    --active-btn:white;

    --spinner:#A966DA;
    --filterImg:invert(90%);
    --filterWhite: invert(100%);
    --filterBlack: invert(14%);
    --filterVideo:grayscale(100%);
  }