section{
    width: 70vw;
    min-width: 750px;
    margin: 0 auto;
    height: auto;
    padding: 8rem 1rem;
}

.intro_text{
    width: 100%;
    text-align: center;
    padding: 2rem 0 4rem 0;
    img{
        width: 30vw;
        padding-bottom: 2rem;
        filter: var(--filterImg);
    }
    p{
        font-size: 40px;
        line-height: 56px;
        font-weight: 300;
        margin: 0;
        color: var(--textNormal);
    }
 
    button{
        background-color: transparent;
        border: 1px solid var(--btn);
        a{
            color: var(--btn);
            
        }
    }
    button:hover{
        background-color: var(--btn);
        a{
            color: var(--text-btn-hover);
        }
    }
}
.philosophy{
    padding-top: 8rem;
    text-align: center;
    h4{
   margin: 20px 0;
    letter-spacing: 2px;
    color: var(--textImportant);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    }
}
.intro_text2{
    width: 40vw;
    padding-top: 4rem;
    margin: 0 auto;
    text-align: center;
    h4{
        margin: 20px 0;
        line-height: 24px;
        font-size: 18px;
        margin: 0;
        letter-spacing: 2px;
        font-weight: 500;
        color: var(--textTitle);
    }
    p{
        margin: 0;
        color: var(--textNormal);
        font-size: 25px;
        line-height: 35px;
        font-weight: 300;
    }
}

.bullet_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    padding-top: 2rem;
    height: auto;
}
.bullet_container2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
   padding-top: 2rem;
   padding-bottom: 8rem;
}
.philosophy{
    padding-top: 4rem;
}
.bullet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all .3s ease-in-out;
    border: none;
    width: 30vw;
    background-color: transparent;
    
    h5{
        letter-spacing: 2px;
        color: var(--textImportant);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin: 10px 0;
    }
    p ,b{
        max-width: 300px;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 300;
        line-height: 34px;
        color: var(--textNormal);
    }
    b{
        font-weight: 500;
    }
    img{
        width: 6rem;
        filter: var(--filterImg);
    } 
}

.bullet:hover{
    transform: scale(1.1);
}

.toGallery{
        transition: all .5s ease-in-out;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 2rem;
        background-color: transparent;
        border: 2px solid var(--btn) !important;
        color: var(--btn);  
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        cursor: pointer;

    }
  
.toGallery:hover{
    transform: scale(1.05);
    background-color: var(--btn) !important;
    color: var(--btn-hover);
    box-shadow: 0px 6px 25px 1px #696969c7;
    -webkit-box-shadow: 0px 6px 25px 1px #696969c7;
    -moz-box-shadow: 0px 6px 25px 1px #696969c7;
}

.creu{
    padding: 4rem 0;
    padding-top: 8rem;
    text-align: center;
    filter: var(--filterImg);
}
@media (max-width: 1100px) {
    section{
        padding: 4rem 1rem;
    }
    .intro_text2{
        width: 50vw;
    }
}
@media (max-width: 700px) {
    section{
        width: 90vw;
        min-width: 200px;
        padding: 2rem 0;
    }
    .intro_text{
        text-align: left;
        img{
            width: 45vw;
            transform: rotate(2deg);
            padding-bottom: 0;
        }
        p{
            padding-top: 1rem;
            font-size: 25px;
            text-align: left;
            line-height: 30px;
            font-weight: 300;
            margin: 0;
            color: var(--textNormal);
        }
    
    }
    .intro_text2{
        width: 90vw;
        padding-top: 2rem;
        margin: 0 auto;
        text-align: left;
        h4{
            margin: 20px 0;
            letter-spacing: 2px;
            color: var(--textImportant);
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
        }
        p{
            font-size: 20px;
            font-weight: 300;       
            text-align: left;
            line-height: 28px;
            margin: 0;
            color: var(--textNormal);
        }
    }
    .bullet_container2{
    flex-direction: column;
    padding-bottom: 4rem;
    min-width: 200px;
    }
    .bullet_container{
        flex-direction: column;
        padding-top: 0;
        min-width: 200px;
        }
        .bullet{
            width: 100%;
            padding: 0;
            padding-bottom: 4rem;
            h5{
                font-size: 18px;
                font-weight: bold;
                margin: 0;
                padding-top: 1rem;
                color: var(--textImportant);
            }
            p{
                margin: 0;
                width: 60vw;
                font-size: 16px;
                line-height: 25px;
                color: var(--textNormal);
            }
            div{
                height: 5.5rem;
              }
            img{
                width: 8rem;
            }
        }
        .creu{
            padding: 4rem 0;
            text-align: center;
            filter: var(--filterImg);
        }
}