section{
    width: 70vw;
    min-width: 750px;
    margin: 0 auto;
    height: auto;
    padding: 8rem 1rem;
}

.intro_text{
    padding-bottom: 8rem;
    width: 80%;
    h2{
        font-size: 42px;
        margin: 0;
        color: var(--textTitle);
    }
    p{
        font-size: 22px;
        line-height: 32px;
        margin: 0;
        padding: 3rem 0;
        color: var(--textNormal);
    }
    button{
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px solid var(--btn);
        a{
            color: var(--btn);
            
        }
    }
    button:hover{
        background-color: var(--btn);
        a{
            color: var(--btn-hover);
        }
    }
}

.bullet_container{
    display: flex;
    justify-content: center;
}

.bullet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    width: 40%;
    max-width: 400px;
    h5{
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 1rem 0 .4rem 0;
        color: var(--textImportant);
    }
    p{
        margin: 0 auto;
        font-size: 16px;
        line-height: 23px;
        color: var(--textNormal);
    }
    img{
        width: 3rem;
        // margin: 0 auto;
    }
}

@media (max-width: 700px) {
    section{
        width: 90vw;
        min-width: 200px;
        padding: 4rem 0;
    }
    .intro_text{
        padding-bottom: 4rem;
        h2{
            font-size: 28px;
        }
        p{
            font-size: 18px;
            line-height: 28px;
        }
    }
    .bullet_container{
    flex-direction: column;
    }
    .bullet{
        width: 100%;
        padding: 0;
        padding-bottom: 4rem;
        h5{
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            padding-top: 1rem;
            color: var(--textImportant);
        }
        p{
            margin: 0;
            font-size: 16px;
            color: var(--textNormal);
        }
        img{
            width: 3rem;
        }
    }
}