@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');
@import './variables.scss';

*{
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Mada', sans-serif;
}

a{
  text-decoration: none;
}

html, #root{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

body {
  margin: 0;
}