@import './variables';
@import './mixins';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.loader_container {
    margin: 0 auto;
    margin-top: 50px;
}

.principalVideo{
    margin: 0 auto;
    padding: 4rem 0;
}
.principal_size{
    width: 60vw;
    height: 35vw;
}

.video_container {
    display: flex;
    justify-content: center;
    width: 95%;
    opacity: 0;
    @include tablet {
        margin-top: 1.45rem;
    }
    @include desktop {
        margin-top: 1.45rem;
    }
    div:first-child {
        @include mobile {
            max-height: 30vh !important;
        }
    }
}

.tabs_actor {
    display: flex;
    margin: 0 auto;
    color: var(--btn);
    
    .tab {
        cursor: pointer;
        margin: 0 20px;
        .tabTitle {
            font-size: 18px;
            font-weight: normal;
            color: gray;
            border-bottom: 2px solid gray;
            @include mobile {
                font-size: 14px;
            }
        }
        .tabTitle:hover {
            color: rgb(53, 53, 53);
            border-bottom: 2px solid rgb(53, 53, 53);
        }
        .selected {
            font-weight: bold;
            color: black;
            border-bottom: 2px solid black;
        }
    }
}

.video_grid{
    display: flex;
    scroll-behavior: smooth;
    width: 99vw;
    margin-left: 2vw;
    overflow-x: scroll;
    
}
h3{
    text-align: center;
    margin: 20px 0;
    letter-spacing: 2px;
    color: var(--textImportant);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.hide {
    display: none !important;
}

@media (max-width: 500px) {
    .container{
        padding-top: 2rem;
        padding-bottom: .2rem;
    }
    .video_size{
        width: 90vw;
        height: 25vh;
    }
    .principal_size{
        width: 100vw;
        height: 35vh;
    }
    .principalVideo{
        margin: 0 auto;
        padding: 2rem 0;
    }

    h3{
        padding-left: 5vw;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
    }
  }