.popup{
position: absolute;
right: 1rem;
top: 4rem;
}

.popupInner{
    width: 250px;
    padding: 1rem;
    background-color:rgba(41, 41, 41, 0.863);
    z-index: 9999999;
    box-shadow: 0px 6px 25px 2px #696969c7;
    -webkit-box-shadow: 0px 6px 25px 2px #696969c7;
    -moz-box-shadow: 0px 6px 25px 2px #696969c7;
    p, button{
        color: whitesmoke;
    }
    button{
        margin: 0 auto;
        cursor: pointer;
        text-decoration: underline;
        &:hover{
            font-weight: bolder;
        }
    }
}