.container{
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex-grow: 1;


}

.pages{
    margin: 0 auto;
    margin-top: 6rem;
}

// actor layout

.actor_bg{
    background-color: whitesmoke;
    margin: 0 auto;
    width: 100vw;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}