

.header{
    padding: 1rem 0;
    padding-bottom: 2rem;
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    color: var(--textTitle);
    text-decoration: none;
}

.navList{
    font-weight: bolder;
    background-color: whitesmoke;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding-inline-start: 0;
    max-width: 30vw;
    justify-content: space-between;
}

.navItem {
    color: var(--btn);
    font-size: 0.9rem;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out !important;
}

.navItem:hover {
    color:var(--btn-hover);
}

.active_navItem {
    color: var(--active-btn);
}

.uv{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 3rem;
}

//actor

.navItem_actor {
    color: gray;
    font-size: 0.9rem;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out !important;
}

.navItem_actor:hover {
    color: rgb(49, 49, 49);
}

.active_navItem_actor {
    color: black;
}



//burger

.burger_container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    height: 17vw;
    top: 0;
    background-color: var(--bg);
    z-index: 999;
}

.burger_container_actor{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    height: 17vw;
    top: 0;
    z-index: 999;
    background-color: whitesmoke;
}
.menu_item:active{
    background-color: transparent;
    border-bottom: 2px solid var(--textNormal);
  }
   


//uv
.uv_label{
    color: var(--textNormal);
    height: 30px;
    right: 20px;
    top: 16px;
    z-index: 999;     
}

//sm screen
@media (max-width: 700px) {
    .title{
        font-size: 9vw;
        letter-spacing: .2rem;
        padding-bottom: 1rem ;
    }
    .uv_label{
        font-size: 4vw;   
        position: fixed;
    }
}   

//ipad
@media (min-width: 700px) {
    .title{
        font-size: 6vw;
        letter-spacing: .3rem;
        padding-bottom: 1rem ;
    }
    .uv_label{
        font-size: 1rem;   
    }
    
  }

//ipad
  @media (min-width: 600px) and (max-width: 950px) {
    .burger_container{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: fixed;
        height: auto;
        top: 0;
        background-color: var(--bg);
        z-index: 999;
    }
  }

  @media (min-width: 1200px) {
    .title{
        font-size: 6vw;
        letter-spacing: .3rem;
    }
  }