
.header{
    padding: 2rem 0;
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: var(--bg-header);
    transition: background-color 0.8s ease-out,
}
.title{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: transparent !important;
    color: var(--textTitle);
    text-decoration: none;
}
.title:hover{
    font-style: italic;
}
.logo{
width: 40vw;
padding-top: .5rem;
filter: var(--filterImg);
opacity: 1;
transition: opacity 2s ease-out;
}

.logo:hover{
    opacity: 0;
}

.logoFirma{
    width: 40vw;
    padding-top: .5rem;
    filter: var(--filterImg);
    opacity: 0;
    transition: opacity 2s ease-in;
    }
    
    .logoFirma:hover{
        opacity: 1;
    }

.navList{
    font-weight: bolder;
    background-color: transparent;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding-inline-start: 0;
    max-width: 30vw;
    justify-content: space-between;
}
.navItem {
    color: var(--btn);
    font-size: 0.9rem;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out !important;
}
.navItem:hover {
    color:var(--btn-hover);
}
.activeNavItem {
    color: var(--active-btn);
    border-bottom: 2px solid var(--active-btn);
}
.lang_container{
    color: var(--btn);
    a{
        color: var(--btn) !important;
    }
    a:hover{
        color:var(--btn-hover) !important;
    }
    .activeLang{
        color: var(--active-btn) !important;
        border-bottom: 2px solid var(--active-btn);
    }
}
.uv{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem 2rem;
}

//actor

.navItem_actor {
    color: gray;
    font-size: 0.9rem;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out !important;
}

.navItem_actor:hover {
    color: rgb(49, 49, 49);
}

.active_navItem_actor {
    color: black;
}

//burger

.burger_container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bg);
    z-index: 99;
    transition: background-color 0.8s ease-out,
}

.burger_container_actor{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    height: 17vw;
    top: 0;
    z-index: 9999999;
    background-color: whitesmoke;
}
.menu_item:active{
    background-color: transparent;
    border-bottom: 2px solid var(--textNormal);
  }
   


//uv
.uv_label{
    color: var(--textNormal);
    z-index: 999;     
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 5rem;
        filter: var(--filterImg);
    }
}

//sm screen
@media (max-width: 700px) {
    .logo{
        width: 90vw;
        margin-top: .5rem;
        }
    .title{
        font-size: 9vw;
        letter-spacing: .2rem;
        padding-bottom: 2rem ;
        padding-top: 1rem;
    }

    .uv_label{
        color: var(--textNormal);
        z-index: 999; 
       padding: .5rem 1rem;   
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 3.5rem;
            filter: var(--filterImg);
        }
    }
}   
@media (max-width: 1100px) {
    .navList{
        max-width: 35vw;
    }
}

//ipad
@media (min-width: 700px) {
    
    .title{
        font-size: 6vw;
        letter-spacing: .3rem;
        padding-bottom: 1rem ;
    }
    .uv_label{
        font-size: 1rem;   
    }
    
  }

//ipad
  @media (min-width: 600px) and (max-width: 950px) {
    .burger_container{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: fixed;
        height: auto;
        top: 0;
        background-color: var(--bg);
        z-index: 999999;
    }
    
  }

  @media (min-width: 1200px) {
    .title{
        font-size: 6vw;
        letter-spacing: .3rem;
    }
  }