.container{
    width: 100%;
    padding-top: 1rem;
    background-color:var(--bg-footer);
    color: var(--textNormal);
    color: #3b3b3b;
    z-index: 9999999999;
    transition: background-color 0.8s ease-out,
}

.content{
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 2vw 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--bg-footer);
    color: var(--textImportant);
    transition: background-color 0.8s ease-out,
    p, a {
        margin: .3vw 0;
        color: var(--textNormal);
        font-size: 14px;
    }
    a, p{
        margin: .3vw 0;
        color: var(--textNormal);
        font-size: 16px;  
    }
    a:hover{
        font-weight: bolder;
    }
    h3{
        font-size: 16px;
        margin: 0;
    }
    .contentOne{
        display: flex;
        margin: 0;
        width: 35vw;
        justify-content: space-between;
        div{
            width: auto;
            min-width: 10vw;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: left;
        }
    }
}

.requesensLogo{
    filter: var(--filterImg);
    width: 12vw;
    height: auto;
    img{
        max-width: 100%;
        transform: rotate(5deg);
        max-height: 100%;
    }

}
.tqContainer{
        filter: var(--filterImg);
        width: 7vw;
        height: auto;
        img{
            max-width: 100%;
            max-height: 100%;
        }

}


.navList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    li, button{
        padding: 0;
        margin: .3vw 0;
        cursor: pointer;
        color: var(--textNormal);
        font-size: 16px;
    }
    li:hover, button:hover{
        font-weight: bolder;
    }
}

.requesens{
    h2{
        font-size: 25px;
        margin: 0;
    }
}

.copyright{
    position: absolute;
    bottom: 2vw;
    p{
        font-size: 16px;
    }
}

.container a{
    color: var(--textNormal);
    text-decoration:none;
}
@media (max-width: 1200px) {
    .content{
        .contentOne{
            width: 45vw;
    }
    }
}
  @media (max-width: 850px) {
.container{
    padding-top: 4rem;
}
    .content{
        display: block;
        justify-content: center;
        align-items: flex-start;
        max-width: 100%;
        height: auto;
        padding: 1rem;
        padding-bottom: 10rem;
        h3{
        padding: 0;
        margin: 0;
        }
        .contentOne{
            display: flex;
            width: 60vw;
            justify-content: space-between;
            padding-bottom: 1rem;
            div{
                width: auto;
              display: flex;
              flex-direction: column;
              justify-content: left;
              align-items: left;
            }
        }
    }
    .requesens{
        height: 6rem;
        margin-bottom: 1rem;
    }
    .copyright{
        position: absolute;
        bottom: 4rem;
    }
    .requesensLogo{
        width: 12rem;
    }
    .tqContainer{
        width: 6rem;
    }
    .contactMobile{
        padding-bottom: 2rem;
    }
  }
