.container{
    width: 100%;
    background-color:var(--bg-footer);
    color: var(--textNormal);
    color: #3b3b3b;
}

.content{
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 2vw 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--bg-footer);
    color: var(--textImportant);
    p, a {
        margin: .3vw 0;
        color: var(--textNormal);
        font-size: 14px;
    }
    a:hover{
        font-weight: bolder;
    }
    h3{
        font-size: 16px;
        margin: 0;
    }
    .contentOne{
        display: flex;
        margin: 0;
        width: 30vw;
        justify-content: space-between;
        div{
            width: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
    }
    .contentTwo{
        display: flex;
        justify-content: space-between;
        div{
            width: 10vw;
        }
    }
}


.navList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    li{
        margin: .3vw 0;
        color: var(--textNormal);
        font-size: 14px;
    }
    li:hover{
        font-weight: bolder;
    }
}

.requesens{
    h2{
        font-size: 25px;
        margin: 0;
    }
}

.copyright{
    position: absolute;
    bottom: 2vw;
}

.container a{
    color: var(--textNormal);
    text-decoration:none;
}

  @media (max-width: 850px) {

    .content{
        display: block;
        justify-content: center;
        align-items: flex-start;
        max-width: 100%;
        height: auto;
        padding: 1rem;
        padding-bottom: 8rem;
        h3{
        padding: 0;
        margin: 0;
        }
        .contentOne{
            display: flex;
            margin: 0 auto;
            width: auto;
            justify-content: space-between;
            div{
                width: auto;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
            }
        }
        .contentTwo{
            display: flex;
            justify-content: space-between;
            div{
                width: 40vw;
            }
        }
    }
    .requesens{
        height: 6rem;
    }
    .copyright{
        position: absolute;
        bottom: 4rem;
    }

  }
